#files:
#    "/sbin/appstart":
#        mode: "000755"
#        owner: webapp
#        group: webapp
#        content: |
#            #!/usr/bin/env bash
#            JAR_PATH=/var/app/current/application.jar
#            PID_FILE=/var/pids/web.pid
#            LOG_FILE=/var/log/webapp.log
#
#            # Graceful stop of the existing application
#            if [ -f "$PID_FILE" ]; then
#                kill -TERM $(cat "$PID_FILE") && rm -f "$PID_FILE"
#                sleep 5
#            fi
#
#            # Start new application instance
#            nohup java -Dfile.encoding=UTF-8 -jar "$JAR_PATH" > "$LOG_FILE" 2>&1 &
#
#            # Save the PID of the new process
#            echo $! > "$PID_FILE
files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar

      # run app
      killall java
      java -Dfile.encoding=UTF-8 -jar $JAR_PATH
